@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;

  --text-primary: #121212;
  --text-secondary: #4f4f4f;
  --text-muted: #8e8e8e;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --text-primary: #f5f5f5;
  } */
}

body {
  color: var(--text-primary);
  background: #ffffff;
}

.feature-box {
  background: linear-gradient(331.83deg, #ededed -34.02%, #6486ff 64.37%);
}
